/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rommco-accent: #2563eb;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
